<div class="container">
  <div class="row">
    <div class="col-sm-8 padding">
      <mat-card class="home-card">
        <mat-card-content class="home-card-content">
          <img mat-card-image [src]="artistImg" />
          <div>
            <div class="header-size">{{ artistName }}</div>
            <div>Fans: {{ fans | thousandsFormatter }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-4 white-text padding">
      <p>Top tracks:</p>
      <p *ngIf="loadingTracks">Loading tracks...</p>
      <table *ngIf="!loadingTracks">
        <tr *ngFor="let track of top5Tracks; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ track.name }}</td>
          <td>{{ track.duration * 1000 | date: 'mm:ss' }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <p *ngIf="loadingAlbums" class="white-text">Loading albums...</p>
    <div class="col-sm-3 card-padding" *ngFor="let album of albums">
      <mat-card class="card-content">
        <img mat-card-image [src]="album.img" />
        <mat-card-title>{{ album.name }}</mat-card-title>
        <mat-card-content
          >Fans: {{ album.fans | thousandsFormatter }}<br />
          Released: {{ album.release_date }}</mat-card-content
        >
      </mat-card>
    </div>
  </div>
</div>
