<div class="container">
  <div class="row">
    <div class="col-sm-8"><mat-card></mat-card></div>
    <div class="col-sm-2">Bar</div>
    <div class="col-sm-3 card-padding" *ngFor="let album of albums">
      <mat-card class="card-content">
        <img mat-card-image [src]="album.img" />
        <mat-card-title>{{ album.name }}</mat-card-title>
        <mat-card-content
          >Fans: {{ album.fans | thousandsFormatter }}<br />
          Released: {{ album.release_date }}</mat-card-content
        >
      </mat-card>
    </div>
  </div>
</div>
