<div>
  <mat-toolbar class="example-toolbar">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <span>Site name</span>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/home">Home</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <div fxLayout="column">
        <a mat-button routerLink="/home">Home</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="example-content" fxFlexFill>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 card-padding" *ngFor="let artist of artists">
            <mat-card>
              <img
                mat-card-image
                src="../../../assets/250x250-000000-80-0-0.jpg"
              />
              <mat-card-title>{{ artist.name }}</mat-card-title>
              <mat-card-content>Test</mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
